<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->
<!--page views-->
<!--searchbox icon-->
 <script src="https://cdn1.lncld.net/static/js/av-mini-0.6.10.js"></script>
 <script src="http://jerry-cdn.b0.upaiyun.com/hit-kounter/hit-kounter-lc-0.2.0.js"></script>
 <link href="{{ site.BASE_PATH }}/css/syntax.css" rel="stylesheet">
 <link href="{{ site.BASE_PATH }}/css/hux-blog.css" rel="stylesheet">
 <link href="{{ site.BASE_PATH }}/css/bootstrap.css" rel="stylesheet">





</body>

</html>
